@import url(https://fonts.googleapis.com/css?family=Merriweather);

.contact-inputs {
	display: flex;
	justify-content: center;
	align-items: center;
}

.contacts-form {
	max-width: 1000px;
	min-width: 300px;
	width: 70%;
	text-align: center;
	margin: 20px auto;
}

.contacts-form input,
.contacts-form textarea {
	border: 0;
	outline: 0;
	padding: 1em;
	border-radius: 8px;
	display: block;
	width: 100%;
	margin-top: 1em;
	font-family: 'Merriweather', sans-serif;
	box-shadow: (0 1px 1px rgba(black, 0.1));
}

#input-submit {
	color: white;
	background: #e74c3c;
	cursor: pointer;
	border: #e74c3c 3px solid;
	padding: 13px;
	font-size: 18px;
}

#input-submit:hover {
	color: #e74c3c;
	background-color: white;
}

.form-section {
	width: 50%;
	margin-bottom: 1rem;
}

.left {
	margin-right: 2%;
}

@media (max-width: 576px) {
	#input-submit:hover {
		color: white;
		background-color: #e74c3c;
	}
}

@media (max-width: 768px) {
	.contacts-form {
		width: 80%;
	}

	.contact-inputs {
		flex-direction: column;
	}

	.form-section {
		width: 100%;
	}

	.left {
		margin: 0;
	}
}
