.education-card {
	background-color: #ffffff;
	padding: 40px;
	border-radius: 10px;
	margin: 10px;
	overflow-wrap: anywhere;
	width: 40%;
	min-width: 680px;
}

.education-card:hover {
	transform: translateY(-20px);
}

@media (max-width: 768px) {
	.education-card {
		padding: 15px;
		min-width: 0px;
		width: auto;
		margin: 30px 10px;
	}
}

@media (max-width: 576px) {
	.education-card:hover {
		transform: translateY(0);
	}
}
