.navbar {
	background: #3474e6;
	background-color: #251a65;
	position: fixed;
	top: 0;
	width: 100%;
	display: block;
	transition: top 0.3s;
	z-index: 10;
}

.navbar .logo {
	font-size: 2.2rem;
	font-weight: bold;
	color: red;
}

.navbar a {
	color: white;
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: bold;
}

.navbar a:hover {
	color: lightblue;
}

.navbar .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.navbar ul {
	display: flex;
	align-items: center;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.navbar ul li {
	margin-left: 20px;
}

.navbar .toggle-button {
	display: none;
	color: white;
	font-size: 2rem;
	position: absolute;
	right: 40px;
}

@media (max-width: 768px) {
	.navbar .toggle-button {
		display: block;
	}

	.navbar .container {
		flex-direction: column;
		align-items: flex-start;
	}

	.navbar ul {
		display: none;
		flex-direction: column;
		align-self: center;
	}

	.navbar li {
		text-align: center;
		margin-top: 5px;
	}

	.navbar ul.active {
		display: flex;
	}
}
