.projects-wrapper {
	min-height: 500px;
	background-color: #0050ff;
	position: relative;
	overflow: hidden;
	padding: 20px 0 100px 0;
}

.project-card {
	background: white;
	padding: 40px;
	border-radius: 10px;
	box-shadow: 6px 6px 6px 2px rgba(0, 0, 0, 0.2);
	margin: 20px 10px;
}

.project-card:hover {
	box-shadow: 16px 16px 16px 8px rgba(0, 0, 0, 0.3);
	transform: scale(1.01);
}

.project-addresses {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 1rem;
}

.github-link img {
	width: 40px;
}

.github-link:hover {
	transform: scale(1.1);
}

.demo-link {
	background-color: green;
	height: 40px;
	padding: 0 10px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4px;
	color: white;
	text-decoration: none;
	font-weight: bold;
}

.demo-link:hover {
	color: green;
	background-color: white;
	border: 1px green solid;
}

@media (max-width: 768px) {
	.project-card {
		padding: 20px;
	}
	.project-card p {
		display: inline;
	}
}

@media (max-width: 576px) {
	.demo-link:hover {
		color: white;
		background-color: green;
		border: 0px;
	}

	.github-link:hover {
		transform: scale(1);
	}

	.project-card:hover {
		box-shadow: 6px 6px 6px 2px rgba(0, 0, 0, 0.2);
		transform: scale(1);
	}
}
